<!DOCTYPE html>
<html lang="en">
<head>
    <% include inc/header_meta.html %>
    <link rel="stylesheet" href="css/change_pass/change_pass.css">
</head>
<body>
<% include inc/header.html %>
<section class="content" id="content">
    <div class="wrap">
        <div class="portlet">
            <!--<header class="portlet-title">-->
            <!--<div class="search-input">-->
            <!--<input type="text">-->
            <!--<span class=""><i class="fa fa-search" aria-hidden="true"></i></span>-->
            <!--</div>-->
            <!--</header>-->
            <section id="table-data">
            </section>
        </div>
    </div>
</section>
<% include inc/footer_tpl.html %>
<script src="<%= build %>change_pass.bundle.js"></script>
</body>
</html>