<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<html lang="en">
<head>
    <!--<meta charset="UTF-8">-->
    <!--&lt;!&ndash;<link rel="stylesheet" href="Admin/css/style.css">&ndash;&gt;-->
    <!--<title>Title</title>-->
    <% include inc/header_meta.html %>

</head>
<body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid">
<!--<div id="main"></div>-->
    <!--Hello World!!<%=title%>啊实打实大师的-->
<!--啊实打实大师啊实打实的222222asd啊实打实01001010-->
<!--啊实打实大师撒大声大声道啊实打实-->
    <!--&lt;!&ndash;<script src="./build/common.js"></script>&ndash;&gt;-->
    <!--<script src="./build/vendor.bundle.js"></script>-->
    <!--<script src="./build/test.bundle.js"></script>-->
<% include inc/header_tpl.html %>
<div><%=title%> </div>
<% include inc/footer_tpl.html %>
<% include inc/footer_script.html %>
</body>
</html>
